@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  color: #e0dddd;
} /* Styling for the main body */

html body { 
  background-color: rgb(26, 25, 25);
} /* Styling for the html main body for bootstrap */

.navbar {
  font-family: "Inter", sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 5px;
  background: #2f383e;
  border-radius: 15px;
  margin-bottom: 3%;
  color: white;
  font-size: 17px;
} /* bootstrap navbar, colors, etc */
a {
  outline:0;
  text-decoration: none;
  color: #49cf49;
}
a:hover { 
  color:rgb(227, 113, 113);
}
.nav-link:hover{
  background-color: #49cf49;
  color:rgb(0, 0, 0) !important;
  border-radius: 10px;
} /* change hovor color  */


.form-login {
  margin: 0 auto;
  width: 90%; 
  padding-top: 2%;
} 
.main_body { 
  padding-top: 1.25rem;
  width: 90%; 
  margin: 0 auto; 
  position: relative; 
} /* main text body styling for pages */

.artist_output {
  display: flex;
  align-items: flex-start;
} /* make the picture and ouput display side by side */

.text {
  flex: 1; 
} /* keep text to left */

.artist_image {
  flex: 2; 
  max-width: 22%;
  height: auto;
} /* keep image to right */

.spotufy {
  padding-top: 1.25rem;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.spotufy h1 { 
  font-size: 150px;
}
.spotufy_body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color:white;
}

span {
  color: white;
}

.contents {
  display: flex;
}



.otu_green { 
  color:#49cf49;
}

.custom_playlist {
 display: block;
 margin: 0 auto;
 padding-left: 20%;
 padding-top: 13px;
}

.playlist_button { 
  background: none;
  outline: none;
  border: none;
  color: #49cf49;
}

.playlist_button:hover{ 
  color:rgb(227, 113, 113);
}

