{% extends "layout.html" %}
{% block content %}
    <div class="">    
        <div class="contents">    
            <h1> Similar Songs to "{{name|title}}" by {{artist|title}}  </h1>
            <!--- for loop to print out all the elements from the tracks list in the main.py file -->
            <form action="{{ url_for('create_playlist_post') }}" method="post">
                <input type="hidden" name="playlist_name" value="{{ artist }}">
                <input type="hidden" name="tracks" value="{{ tracks }}">
                <button type="submit" class="custom_playlist">Create Playlist</button>
            </form>
        </div>
        <hr>
        {% for track in tracks %} 
        <div class="artist_output">
            <div class="text">
                <p>Name: {{ track['name'] }}</p>
                <p>Artist: {{ track['artist'] }}</p>
                <p>Album: {{ track['album'] }}</p>
                <p>Popularity: {{ track['popularity'] }}</p>
                <p><a href="{{ track['songUrl'] }}"> Open in Browser  </a> </p>
                <p><a href="{{ track['uri'] }}"> Open in Spotify App </a> </p>
            </div>
            <img src="{{ track['imageUrl'] }}" alt="Artist Image" class="artist_image">
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock content %}