{% extends "layout.html" %}
{% block content %}
    
    <div class="form-login">   
        <h1> Get Lyrics from a Song </h1>
        <form action="/get_lyrics" method="post"> 
            <p> Enter Artist Name :   </p>
            <p> <input type="text" name="search_lyric_artist" style="border-radius: 8px;" placeholder="Enter artist name"/> </p>
            <p> Enter Track Name :   </p>
            <p> <input type="text" name="search_lyric_track" style="border-radius: 8px;" placeholder="Enter song name"/> </p>
            <p> <input type="submit" /></p>
        </form>
    </div>  
{% endblock content %}