{% extends "layout.html" %}
{% block content %}
    <div class="">    
        <h1> {{artist_title|title}}'s Top 5 Most Popular Songs  </h1>
        <!--- for loop to print out all the elements from the tracks list in the main.py file -->
        <hr>
        {% for track in tracks[:5] %} 
        <div class="artist_output">
            <div class="text">
                <p>Name: {{ track['name'] }}</p>
                <p>Album: {{ track['album'] }}</p>
                <p>Album Release Date: {{ track['albumDate'] }}</p>
                <p>Popularity Score: {{ track['popularity'] }}</p>
                <p><a href="{{ track['songUrl'] }}"> Open in Spotify </a> </p>
            </div>
            <img src="{{ track['albumImage'] }}" alt="Artist Image" class="artist_image">
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock content %}